<div class="row">
  <div class="col-sm-12">
    <div class="">
      <h2>Your Posts</h2>
    </div>

    <% if @user.posts.any? %>
    <div>
      <% @user.posts.each do |post| %>
        <article class="col-xm-12 col-sm-12 col-md-6 well">
          <h3 class="col-xm-12 col-sm-12 col-md-12"><%= post.title %></h3>
          <p class="col-sm-12 col-sm-12 col-md-12"><%= post.content %></p>
          <span class="">
            <%=
              link_to "Delete",
              post_path(id: post.id),
              method: :delete,
              class: "btn btn-danger delete_post"
            %>
          </span>
        </article> 
      <% end %>
    </div>
    <% else %>
      <p>No Posts Yet</p>
    <% end %>
  </div>
</div>
